.content-contenair {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden; 
}

.app-container {
    width: 500px;
    max-width: 600px; 
    position: relative; 
    background-color: white; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
    border-radius: 12px;
    overflow: hidden; 
}

.header-area {
    width: 100%;
    background-color: #347ad7; 
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 20px 80px 20px; 
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.header-area h1 { 
    font-size: 1.8em;
    font-weight: bold; 
    color: white;
    margin: 0 0 5px 0;
    letter-spacing: 1px; 
}

.subtitle { 
    font-size: 0.9em;
    color: white;
    opacity: 0.9;
    margin-bottom: 0; 
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; 
    box-sizing: border-box;
    margin-top: -50px; 
}


.main-content form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.login-card {
    background-color: white;
    padding: 30px; 
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08); 
    
    width: 100%; 
    box-sizing: border-box;
    position: relative;
    z-index: 20; 
    margin-bottom: 0; 
}


.form-group {
    margin-bottom: 25px; 
}

.form-group label {
    display: block;
    font-size: 0.9em;
    font-weight: 600; 
    color: #333;
    margin-bottom: 8px;
    text-align: left; 
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    background-color: #eef2f7;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}


.connexion-button {
    width: 85%; 
    padding: 18px; 
    background-color: #347ad7; 
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px; 
    margin-bottom: 0; 
    
    box-shadow: 0 8px 15px rgba(66, 133, 244, 0.4); 
    transition: background-color 0.3s;
}

.connexion-button:hover {
    background-color: #3b74db; 
}


.text-center {
    width: 85%; 
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 40px;
}

.text-center p {
    color: #666;
    font-size: 0.9em;
    margin: 0;
}

.text-center a {
    color: #4285F4;
    text-decoration: none;
    font-weight: bold;
}